mixin ctaForm(tutor, instrument, course, message)
	form.cta-form.teacher-form(data-parsley-validate, role="form", method="post")
		input(type='text', name="name", placeholder='Как вас зовут?', required, minlength="2", data-parsley-trigger="focusout")
		input(type='tel', name="tel", placeholder='Ваш телефон', required="true", data-parsley-trigger="focusout")

		input(type="hidden", name="tutor", value=tutor)
		input(type="hidden", name="instrument", value=instrument)
		input(type="hidden", name="course", value=course)

		button.cta-form-button= message

mixin modalClose(sectionId)
	div.modal-close(class = 'close-' + sectionId)

mixin staffModalHeader(name, instrument)
	.row
		.col-md-6
			h1=name
			h2=instrument
			hr